.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: none;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: none;
}

.woocommerce .woocommerce-breadcrumb {
  display: block;
  margin-bottom: 4.8rem;
  padding: 0.8rem 0;
  color: #fff !important;
  background: #333;

  a {
    color: #fff !important;
    opacity: 0.7;
  }
}

.page-content__title {
  margin-top: 4.8rem;
}
